<h1>Todos</h1>
<form method="POST" action="/createHome">
    <table id="inputTable" class="tables">
        <thead>
            <tr>
                <th>Add New Todo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" name="name" placeholder="Name"></td>
                <td><input type="text" name="description" placeholder="Description"></td>
                <td><input type="text" name="completed" placeholder="Completed?"></td>
                <td>
                    <button type="submit">Create Todo</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Completed</th>
        </tr>
    </thead>
    <tbody>
        <% todoList.forEach(function(todo) { %>
            <tr>
                <td><%= todo.name %></td>
                <td><%= todo.description %></td>
                <td><%= todo.complete %></td>
                <td>
                    <form method="POST" action="/removeTodo/">
                        <button value=<%- todo.id %> name='id'>Remove</button>
                    </form>
                </td>
                <td>
                    <form method="POST" action="/showUpdate">
                        <button value=<%- todo.id %> name='id'>Update</button>
                    </form>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>
