<h1>Todos</h1>
<form method="POST" action="/todos">
    <table id="inputTable" class="tables">
        <thead>
            <tr>
                <th colspan="4">Create Todo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" name="name" placeholder="Name"></td>
                <td><input type="text" name="description" placeholder="Description"></td>
                <td>
                    <button type="submit">Create Todo</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Completed</th>
        </tr>
    </thead>
    <tbody>
        <% todoList.forEach(function(todo) { %>
            <tr>
                <td><%= todo.name %></td>
                <td><%= todo.description %></td>
                <td><%= todo.completed %></td>
                <td>
                    <form method="POST" action="/todoremove">
                        <button class="bluebutton" value=<%- todo.id %> name='id'>Remove</button>
                    </form>
                </td>
                <td>
                    <form method="POST" action="/todoUpdate">
                        <button value=<%- todo.id %> name='id'>View/Update</button>
                    </form>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>
