<h1>ALL TODOS</h1>
<div class="allTodos">

    <div class="notCompleted">
        <h3>NOT COMPLETED</h3>
        <table class="all">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% todoNotCompleted.forEach(function(todo) { %>
                    <tr>
                        <td><%= todo.name %></td>
                        <td><%= todo.description %></td>
                        <td>
                            <form method="POST" action="/todos?_method=PUT">
                                <input type="hidden" name="completed" value=<%- !todo.completed %>>
                                <button value=<%- todo.id %> name='id'><%= todo.completed ? "Uncomplete" : "Complete" %></button>
                            </form>
                        </td>
                        <td>
                            <form method="GET" action="/todos/<%- todo.id %>/edit">
                                <button value=<%- todo.id %> name='id'>View/Update</button>
                            </form>
                        </td>
                        <td>
                            <form method="POST" action="/todos?_method=DELETE">
                                <button value=<%- todo.id %> name='id'>Remove</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>

    <div class="completed">
        <h3>COMPLETED</h3>
        <table class="all">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% todoCompleted.forEach(function(todo) { %>
                    <tr>
                        <td><%= todo.name %></td>
                        <td><%= todo.description %></td>
                        <td>
                            <form method="POST" action="/todos?_method=PUT">
                                <input type="hidden" name="completed" value=<%- !todo.completed%>>
                                <button value=<%- todo.id %> name='id'><%= todo.completed ? "Uncomplete" : "Complete" %></button>
                            </form>
                        </td>
                        <td>
                            <form method="GET" action="/todos/<%- todo.id %>/edit">
                                <button value=<%- todo.id %> name='id'>View/Update</button>
                            </form>
                        </td>
                        <td>
                            <form method="POST" action="/todos?_method=DELETE">
                                <button value=<%- todo.id %> name='id'>Remove</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>

</div>
